/* 
    Created on : Oct 23, 2014, 5:09:00 PM
    Author     : landon
*/
body {
    background: white;
}
            
#container {
    background-image: url("Carbon_Fiber.png");      
    background-repeat:no-repeat;
    background-size:contain;   
    width: 272.85px;
    height: 500px;
    margin: auto;
    position: relative;
}

#logo {
    width: 70px; height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 64px;
}


#text {
    font-family: "HelveticaNeue-Light";
    color: white;
    position: relative;
    padding-top: 55px;
    text-align: center;
    letter-spacing: 1px;
    top: 20px;
    font-size: 10px;
}

#alert {
    font-family: "HelveticaNeue-Light";
    font-size: 15px;
    color: white;
    position: absolute;
    text-align: center;
    letter-spacing: 1px;
    visibility: hidden;
    top: 180px;
    margin: auto;
    left: 106px;
}

#icons {
    display: table;
    margin: 30px auto;   
    padding-top: 10px;
}

#goals {
    display: table;
    padding-top: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#basketBall {
    width: 35px; height: 35px;
    z-index: 100;
    margin-right: 5px;
    margin-left: 10px;
}

#soccerBall {
        width: 35px; height: 35px;
        z-index: 100;
        margin-right: 10px;
}

#baseBall {
        width: 35px; height: 35px;
        z-index: 100;
        margin-right: 10px;
}

#tennisBall {
        width: 35px; height: 35px;
        z-index: 100;
        margin-right: 10px;
}

#basketBall_Goal { 
    width: 173px; height: auto; padding: 0.5em; visibility: hidden;
    z-index: 10; position: absolute;
    padding-left: 50px;
    top: 230px;
    
}

#soccer_Goal { 
    width: 173px; height: auto; padding: 0.5em; margin: 10px; visibility: hidden;
    z-index: 9; position: absolute;
    padding-left: 40px;
    top: 230px;
}

#baseBall_Goal { 
    width: 173px; height: auto; padding: 0.5em; margin: 10px; visibility: hidden;
    z-index: 8; position: absolute;
    padding-left: 40px;
    top: 200px;
}

#tennisBall_Goal { 
    width: 173px; height: auto; padding: 0.5em; margin: 10px; visibility: hidden;
    z-index: 7; position: absolute;
    padding-left: 40px;
    top: 200px;
}

#basketballPage {
    display: none;
}
