/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2014, 5:09:00 PM
    Author     : landon
*/
body {
    background: white;
}
            
#container {
    background-image: url("Carbon_Fiber.png");      
    width: 640px;
    height: 1136px;
    margin: auto;
    position: relative;
}

#logo {
    width: 200px; height: auto;
    position: relative;
    top: 30px;
    left: 215px;
}


#text {
    font-family: "HelveticaNeue-Light";
    font-weight: 500;
    color: white;
    position: relative;
    padding-top: 50px;
    text-align: center;
    letter-spacing: 2px;
}

#alert {
    font-family: "HelveticaNeue-Light";
    font-weight: 500;
    color: white;
    font-size: 250%;
    position: absolute;
    text-align: center;
    letter-spacing: 3px;
    visibility: hidden;
    top: 400px;
    left: 235px;
}

#icons {
    display: table;
    margin: 30px auto;   
    padding-top: 30px;
}

#goals {
    display: table;
    padding-top: 250px;
}

#basketBall {
    width: 100px; height: 100px;
    z-index: 100;
    margin-right: 35px;
    margin-left: 35px;
}

#soccerBall {
        width: 100px; height: 100px;
        z-index: 100;
        margin-right: 35px;
}

#baseBall {
        width: 100px; height: 100px;
        z-index: 100;
        margin-right: 35px;
}

#tennisBall {
        width: 100px; height: 100px;
        z-index: 100;
        margin-right: 35px;
}

#goals {
    
}

#basketBall_Goal { 
    width: 500px; height: auto; padding: 0.5em; visibility: hidden;
    z-index: 10; position: absolute;
    padding-left: 60px;
    top: 520px;
    
}

#soccer_Goal { 
    width: 500px; height: auto; padding: 0.5em; margin: 10px; visibility: hidden;
    z-index: 9; position: absolute;
    padding-left: 60px;
    top: 520px;
}

#baseBall_Goal { 
    width: 450px; height: auto; padding: 0.5em; margin: 10px; visibility: hidden;
    z-index: 8; position: absolute;
    padding-left: 60px;
    top: 450px;
}

#tennisBall_Goal { 
    width: 450px; height: auto; padding: 0.5em; margin: 10px; visibility: hidden;
    z-index: 7; position: absolute;
    padding-left: 60px;
    top: 450px;
}

